html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.probability-container {
    padding-top: 20px;
    text-align: left;
}

.error-message {
    color: orangered;
}

.warning-message {
    color: darkgoldenrod;
}

.result-btn {
    margin-top: 15px;
}

.result {
    color: forestgreen;
    text-align: left;
}
