@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calculator</h1>
    <h3>Calculate based on Functions</h3>
    <br />
    <h4>Enter 2 valid probabilities from 0 to 1</h4>@*TODO move to constant file*@
    <div class="probability-container">
        <div>
            <label class="form-label col-2">P(A)</label>
            <input class="col-7" type="number" data-bind="value: probabilityA, attr: { min: minValue, max: maxValue, step: step }" /> @*TODO move to constant file*@
        </div>

        <div>
            <label class="form-label col-2">P(B)</label>
            <input class="col-7" type="number" data-bind="value: probabilityB, attr: { min: minValue, max: maxValue, step: step }" />
        </div>

        <div>
            <label for="functionsList" class="form-label col-2">Select a function</label>
            <select id="functionsList" class="col-7" data-bind="options: functions, optionsText: 'Text', optionsValue: 'Id', value: selectedFunctionId, optionsCaption: 'Please select...'"> </select>
        </div>
        
        <!-- ko if: selectedFunctionId() -->
        <div>
            <span class="offset-2 col-7">e.g. 0.5 + 0.5 – 0.5*0.5 = 0.75</span>
        </div>
        <!-- /ko -->
    </div>
    <hr />

    <h4>Your result from the selected function:</h4>
    <span></span>
</div>

@section Scripts {
    <script src="~/js/calculationviewmodel.js" asp-append-version="true"></script>

    <script>
        ko.applyBindings(new calculationViewModel(), document.getElementById('container'));
    </script>
}

